{% extends 'sidebar.html' %}
 
{% block content %}

 <section class="page-section">
  <div class="page-header">
    <div>
      <h1>Calendar Events</h1>
      <p>Manage your itinerary and view all saved trips.</p>
    </div>
    <div class="text-end mb-3"><a href="{% url 'homepage:event_create' %}">
    Add Event
</a></div>
  </div>

  {% if events %}
    <div class="item-grid">
      {% for event in events %}
        <div class="card">
      <h4>
        {{ event.title }}
    </h4>
 
    <p>
        {{ event.start_datetime }}
    </p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No Events found.</p>
  {% endif %}
</section>
 
{% endblock %}